In [1]:
import requests
from bs4 import BeautifulSoup
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd

In [2]:
url = "https://www.cars.com/shopping/results/?page=1&page_size=20&list_price_max=&makes[]=toyota&maximum_distance=20&models[]=&stock_type=used&zip="

In [3]:
html = requests.get(url)

In [4]:
html.status_code

200

In [5]:
html = requests.get(url).text

In [6]:
soup = BeautifulSoup(html,"html5lib")

In [7]:
results = soup.find_all('div',{'class':'vehicle-card'})

In [8]:
len(results)

20

### data we want to Scrap
#### 1) name, 2) price, 3) milage, 4) review, 5) review_count, 6) badges

#### name

In [9]:
results[0].find('h2').text

'2021 Toyota Camry SE'

#### milage

In [10]:
results[0].find('div',{'class': 'mileage'}).text

'13,390 mi.'

#### Price

In [11]:
results[0].find('span',{'class':'primary-price'}).text

'$31,150'

#### Review

In [12]:
results[0].find('span',{'class':'sds-rating__count'}).text

'4.5'

#### review_count

In [13]:
results[0].find('span',{'class':'sds-rating__link sds-button-link'}).text

'(659 reviews)'

#### Badges

In [14]:
results[0].find('span',{'class':"sds-badge__label"}).text

'Good Deal | $741 under'

In [15]:
name =[]
price =[]
milage =[]
badges =[]
review_count=[]
review =[]

In [16]:
for result in results:
    try:
        name.append( result.find('h2').text)
    except:
        name.append("null")
    try:   
        price.append(result.find('span',{'class':'primary-price'}).text)
    except:
        price.append("null")
    try:
        badges.append(result.find('span',{'class':"sds-badge__label"}).text)
    except:
        badges.append("null")
    try:
        review.append(result.find('span',{'class':'sds-rating__count'}).text)
    except:
        review.append("null")
    try:
        review_count.append(result.find('span',{'class':'sds-rating__link sds-button-link'}).text)
    except:
        review_count.append("null")
    try:
        milage.append(result.find('div',{'class': 'mileage'}).text)
    except:
        milage.append("null")

In [17]:
car_data_of_single_page = pd.DataFrame({"Name":name, "Price($)":price, "Milage":milage,"Review":review,"Review_count":review_count,"Badge":badges})

In [18]:
car_data_of_single_page

,Name,Price($),Milage,Review,Review_count,Badge
0,2021 Toyota Camry SE,"$31,150","13,390 mi.",4.5,(659 reviews),Good Deal | $741 under
1,2021 Toyota Supra 3.0 Premium,"$58,981","7,348 mi.",4.8,"(2,744 reviews)",Great Deal
2,2019 Toyota Sequoia Platinum,"$51,999","55,121 mi.",4.5,"(2,092 reviews)",Great Deal
3,2019 Toyota Camry SE,"$25,689","49,126 mi.",1.0,(1 review),Good Deal | $176 under
4,2017 Toyota Highlander Limited,"$31,591","84,621 mi.",4.9,"(1,745 reviews)",Good Deal
5,2021 Toyota Supra 3.0,"$55,800","25,990 mi.",4.6,(642 reviews),"Good Deal | $1,511 under"
6,2013 Toyota Land Cruiser V8,"$61,000","13,430 mi.",4.3,(866 reviews),Fair Deal
7,2019 Toyota Camry SE,"$25,493","49,550 mi.",4.1,(637 reviews),Fair Deal
8,2019 Toyota Camry SE,"$29,791","16,794 mi.",4.8,"(3,210 reviews)",Fair Deal
9,2017 Toyota Corolla LE,"$13,899","49,752 mi.",3.3,(42 reviews),"Great Deal | $2,484 under"
10,2017 Toyota Highlander Limited,"$33,958","53,767 mi.",4.9,"(1,745 reviews)",Good Deal
11,2019 Toyota Sequoia Platinum,"$57,999","54,668 mi.",4.5,"(2,092 reviews)",Good Deal
12,2019 Toyota Camry SE,"$27,292","27,100 mi.",4.4,(884 reviews),Fair Deal
13,2020 Toyota RAV4 LE,"$28,989","49,234 mi.",4.6,(147 reviews),Good Deal
14,2019 Toyota Highlander XLE,"$41,588","18,137 mi.",3.5,(96 reviews),Fair Deal
15,2016 Toyota 4Runner Limited,"$32,797","80,825 mi.",4.8,(785 reviews),Good Deal | $805 under
16,2019 Toyota Camry LE,"$23,169","47,205 mi.",4.9,(48 reviews),Good Deal
17,2021 Toyota Supra 3.0 Premium,"$62,998","3,758 mi.",4.5,(961 reviews),Great Deal
18,2015 Toyota Highlander Limited Platinum,"$23,444","64,062 mi.",4.8,(135 reviews),Good Deal | $548 under
19,2019 Toyota Corolla LE,"$17,980","47,337 mi.",4.5,"(2,065 reviews)","Great Deal | $3,371 under"

### Basic EDA

In [19]:
car_data_of_single_page['Price($)'] =car_data_of_single_page['Price($)'].str.strip("$")

In [20]:
car_data_of_single_page['Milage'] = car_data_of_single_page['Milage'].str.replace("mi.",'')

In [21]:
car_data_of_single_page['Review_count'] = car_data_of_single_page['Review_count'].str.strip("reviews )")

In [22]:
car_data_of_single_page['Review_count']= car_data_of_single_page['Review_count'].str.strip('(')

In [23]:
car_data_of_single_page['Badge'] = car_data_of_single_page['Badge'].str.split("|").str[0]

In [24]:
car_data_of_single_page

,Name,Price($),Milage,Review,Review_count,Badge
0,2021 Toyota Camry SE,"31,150","13,390",4.5,659,Good Deal
1,2021 Toyota Supra 3.0 Premium,"58,981","7,348",4.8,"2,744",Great Deal
2,2019 Toyota Sequoia Platinum,"51,999","55,121",4.5,"2,092",Great Deal
3,2019 Toyota Camry SE,"25,689","49,126",1.0,1,Good Deal
4,2017 Toyota Highlander Limited,"31,591","84,621",4.9,"1,745",Good Deal
5,2021 Toyota Supra 3.0,"55,800","25,990",4.6,642,Good Deal
6,2013 Toyota Land Cruiser V8,"61,000","13,430",4.3,866,Fair Deal
7,2019 Toyota Camry SE,"25,493","49,550",4.1,637,Fair Deal
8,2019 Toyota Camry SE,"29,791","16,794",4.8,"3,210",Fair Deal
9,2017 Toyota Corolla LE,"13,899","49,752",3.3,42,Great Deal
10,2017 Toyota Highlander Limited,"33,958","53,767",4.9,"1,745",Good Deal
11,2019 Toyota Sequoia Platinum,"57,999","54,668",4.5,"2,092",Good Deal
12,2019 Toyota Camry SE,"27,292","27,100",4.4,884,Fair Deal
13,2020 Toyota RAV4 LE,"28,989","49,234",4.6,147,Good Deal
14,2019 Toyota Highlander XLE,"41,588","18,137",3.5,96,Fair Deal
15,2016 Toyota 4Runner Limited,"32,797","80,825",4.8,785,Good Deal
16,2019 Toyota Camry LE,"23,169","47,205",4.9,48,Good Deal
17,2021 Toyota Supra 3.0 Premium,"62,998","3,758",4.5,961,Great Deal
18,2015 Toyota Highlander Limited Platinum,"23,444","64,062",4.8,135,Good Deal
19,2019 Toyota Corolla LE,"17,980","47,337",4.5,"2,065",Great Deal

### CAR DATA FROM MULTIPLE PAGES

In [25]:
name =[]
price =[]
milage =[]
badges =[]
review_count=[]
review =[]

for i in range(1,51):
    url ="https://www.cars.com/shopping/results/?page="+str(i)+"&page_size=20&list_price_max=&makes[]=toyota&maximum_distance=20&models[]=&stock_type=used&zip="
    #response
    response = requests.get(url).text
    #soup object
    soup = BeautifulSoup(response,"html5lib")
    #results 
    results = soup.find_all('div',{'class':'vehicle-card'})
    
    for result in results:
        try:
            name.append( result.find('h2').text)
        except:
            name.append("null")
        try:   
            price.append(result.find('span',{'class':'primary-price'}).text)
        except:
            price.append("null")
        try:
            badges.append(result.find('span',{'class':"sds-badge__label"}).text)
        except:
            badges.append("null")
        try:
            review.append(result.find('span',{'class':'sds-rating__count'}).text)
        except:
            review.append("null")
        try:
            review_count.append(result.find('span',{'class':'sds-rating__link sds-button-link'}).text)
        except:
            review_count.append("null")
        try:
            milage.append(result.find('div',{'class': 'mileage'}).text)
        except:
            milage.append("null")

In [26]:
used_car_price_data = pd.DataFrame({"Name":name, "Price($)":price, "Milage":milage,"Review":review,"Review_count":review_count,"Badge":badges})

In [27]:
used_car_price_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          1000 non-null   object
 1   Price($)      1000 non-null   object
 2   Milage        1000 non-null   object
 3   Review        1000 non-null   object
 4   Review_count  1000 non-null   object
 5   Badge         1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB

### BASIC EDA ON ACTUAL DATASET

In [28]:
used_car_price_data['Price($)'] =used_car_price_data ['Price($)'].str.strip("$")

In [29]:
used_car_price_data['Milage'] = used_car_price_data['Milage'].str.replace("mi.",'')

In [30]:
used_car_price_data['Review_count'] = used_car_price_data['Review_count'].str.strip("reviews )")

In [31]:
used_car_price_data['Review_count'] = used_car_price_data['Review_count'].str.strip("(")

In [32]:
used_car_price_data['Badge'] = used_car_price_data['Badge'].str.split("|").str[0]

In [33]:
used_car_price_data.head()

,Name,Price($),Milage,Review,Review_count,Badge
0,2021 Toyota Camry SE,"31,150","13,390",4.5,659,Good Deal
1,2021 Toyota Supra 3.0 Premium,"58,981","7,348",4.8,"2,744",Great Deal
2,2019 Toyota Sequoia Platinum,"51,999","55,121",4.5,"2,092",Great Deal
3,2019 Toyota Camry SE,"25,689","49,126",1.0,1,Good Deal
4,2017 Toyota Highlander Limited,"31,591","84,621",4.9,"1,745",Good Deal

In [34]:
used_car_price_data.tail()

,Name,Price($),Milage,Review,Review_count,Badge
995,2019 Toyota RAV4 Hybrid XLE,"36,981","11,872",4.4,640,Good Deal
996,2010 Toyota Prius IV,"7,995","190,884",4.7,"1,432",Good Deal
997,2000 Toyota 4Runner SR5,"15,995","145,199",4.1,11,Home Delivery
998,2019 Toyota Corolla LE,"19,989","23,814",4.9,337,Good Deal
999,2007 Toyota Matrix,"8,000","74,132",4.4,25,Hot Car

In [35]:
used_car_price_data.to_csv("Used_Car_Price_Data.csv", index=False)